# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Hackathon EU BD - Statistics Poland
email: your-email@example.com
description: Statistics Poland
baseurl: "https://statisticspoland.github.io/EU_Big_Data_Hackathon_2021" 
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed


collections:
  pages:
    output: true
    permalink: /:path/
  indicators:
    output: true
  goals:
    output: true

prose:
  ignore: ['/assets', '/_includes', '/_layouts', '/scripts', '/sass' ]
  metadata:
    _indicators:
      - name: "nazwa_wskaznika"
        field:
            element: text
            label2: "Name of the indicator"
            scope: global
      - name: "jednostka_prezentacji"
        field:
            element: text
            label2: "Measure unit"
            scope: global
      - name: "wyjasnienia_metodologiczne"
        field:
            element: textarea
            label2: "Description of the indicator"
            scope: global
      - name: "zrodlo_danych"
        field:
            element: text
            label2: "Data sources"
            scope: global
