<style>
  .line {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 12;
    background-color: #ffffff;
    transition: height 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,.4);



}



#bottom{
   width: 100%;
   height: 1px;
   left: 0;
   background-color: #ffffff;
   transition: height 0.3s;
   z-index: -1;
   content: "";
   display: block;
   height: 2px;
   background: transparent;
   background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
   position: absolute;
}

#shadow{
   width: 900px;

   margin-right: auto;
   margin-left: auto;
}

</style>


<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/logo_GUS_en.png"></a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent;">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: auto;">

      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/indicator">Indicators</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/api">API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/game">Game</a>
      </li>
      <li class="nav-item kontrast" style="margin-top: 20px;">

      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="{{ site.baseurl }}/search/?search=">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 15px;"><i class="fa fa-search"></i></button>
    </form>

  </div>



</nav>

<div id="bottom">
</div>

<div id="shadow">
</div>

<script>
var switcher = new accessibilitySwitcher('');
$(".high").attr('style',  'font-size:26px;color:#000000;');
$(".default").attr('style',  'font-size:26px;color:#ffffff;');


if ($("body").css("background-color")=='rgb(0, 0, 0)'){
  $(".high").attr('style',  'display:none');
}else{
  $(".default").attr('style',  'display:none');
}

$(".high").click(function() {
  $(".high").attr('style',  'display:none');
  $(".default").attr('style',  'font-size:26px;color:#ffffff;display:block;');
});

$(".default").click(function() {
  $(".default").attr('style',  'display:none');
  $(".high").attr('style',  'font-size:26px;color:#000000;display:block;');
});

</script>
