.filterInputs {
  padding-bottom: 5px;
}

.filterInputs input {
  display: none;
}

.filterInputs label {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

.filterInputs i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #0bf;
  z-index: -1;
}

.filterInputs input:checked + i {
  background: #0bf;
}

.is-hidden {
  display: none;
}

input[type="checkbox"], input[type="radio"] {
    margin-left: -2rem;
    opacity: 0;
    position: absolute;
    display: none;
    box-sizing: border-box;
    padding: 0;
}

button, [type="button"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #0071bc;
    border: 0;
    border-radius: 0.3rem;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
}

.ct-chart .ct-label {
    font-size: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}

h5{
  font-size: 1rem;
}
#sex{
  margin: 15px;
    width: 35px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul li {
    display: table-row;
}

ul li, ol li {
    line-height: 1.5;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}
li {
    margin-bottom: 0.5em;
}

#check-list-box {
    margin-bottom: 0em;
    margin-top: 0em;
    display: table;
    line-height: 0;
    list-style: none;
    width: 100%;
}

#filtr {
    line-height: 3;
    margin-top: 0em;
    padding-bottom: 0%;
    font-size: 16px;
    background-color: transparent;
    text-align: left;
}

table {
    border-spacing: 0;
    margin: 2em 0;
    width: 100%;
}

table thead th {
    background-color: #ededed;
    text-align: center;
}

table td, table th {
    background-color: #ffffff;
    border: 1px solid #cecece;
}

table th {
    text-align: left;
    background-color: #f1f1f1;
}

body{
  max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

#main{
  margin-top: 60px;
}

#chartdiv, #chartdiv2{
  width: 50%;
  height: 500px;
  float: left;
  margin-bottom: 25px;
}

#chartdiv11{
  width: 100%;
  height: 500px;
  margin-bottom: 25px;
}


#filtry{
  color: #fff;
  pointer-events: none;
}

h2{
  margin-top: 1.0em;
  margin-bottom: 1.5rem;
}


.dropdown-header{
  padding: .5rem 1rem;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

#list{
  margin-top: 2rem;
  padding: 0;
}


@media only screen and (max-width: 1050px) {
  #przycisk{
    display: none;
  }
  .dropdown-header {
      display: none;
  }
  .form-inline .form-control{
    display: none;
  }
  #chartdiv,#chartdiv2{
    width: 100%;
  }
}


@media only screen and (max-width: 715px){
  .divovefiltry {
      display: none;
  }
  #wybrane{
    display: none;
  }
  .ct-chart {
    margin-top: 20px;
  }
}

.yr.nav.nav-tabs{
  border-bottom: none;
  padding-top: 2px;
  border-right: 1px solid #ddd;
}

.yr.nav.nav-tabs>.nav-link{
  float: none;
  margin-bottom: 2px;
margin-right: -1px;
}

.yr .nav-link.active,
.yr .nav-link:hover,
.yr .nav-link:focus
{
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.yr .nav-link{
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
  display:block;
}

/*----------------do gry------------------*/
.game-board {
    margin:30px auto;
    position: relative;
    background: #fff;
    overflow: hidden;
    width: 550px;
    height: 444px;
    border: 1px solid #ddd;
}

.game-tile {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: #a9c4ff url(images/title.png) center center no-repeat;
}

.game-tile:hover {
    background-color:#0071bc;
}

.game-score {
    text-align: center;
}

#start {
    padding: 0.8em 3em;
    background: #0071bc;
    color: #FFF;
    border: 0;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.5s background-color, 0.5s box-shadow;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin:30px auto;
}

/*----------------mapy zdjecia------------------*/
#image1{
  -webkit-animation: fadein 2s linear 1 normal forwards;
}

@-webkit-keyframes fadein{
    from { opacity: 0; }
    to { opacity: 1; }
}

#image1:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  //max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.usa-button {
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: #0071bc;
border: 0;
border-radius: 0.3rem;
color: #ffffff;
cursor: pointer;
display: inline-block;
font-size: 1.1rem;
padding: 0.7rem 1rem;
}


  .pl-grid .usa-width-one-half,
  .pl-grid-full .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 1px;
    margin-left: 5px;
    width: 35%;
    font-size: 0.8rem;
  }

 .footer-about-heading {/*my css*/
  line-height: 1.0;
    margin-bottom: 1em;
    margin-top: 1rem;
    font-size: 0.8rem;
}
.footer-contact-heading {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
}
.contact {
  line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

}
.usa-footer {
    position: absolute;
    width: 100%;


}

.usa-footer.contrast-high {
    background-color: #000000
}




.usa-footer a {
  font-weight: normal;
}

.usa-footer-return-to-top {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.usa-footer-primary-section {
  background-color: #f1f1f1;
}


.usa-footer-secondary_section {
  background-color: #d6d7d9;
  padding-bottom: 3rem;
  padding-top: 1rem;

}
.pl-grid,
.pl-grid-full {
  max-width: 100%;
  max-height: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.usa-footer-return-to-top {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.usa-footer-primary-section {
  background-color: #f1f1f1;
}
