
/*css reset */

  #chartdiv1, #chartdiv2, #chartdiv3, #chartdiv4, #chartdiv10, #chartdiv7
  {
    width: 90%;
    height:150px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 0.6rem;
    font-family: Fira Sans, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.334;

  }
  #chartdiv5, #chartdiv6, #chartdiv8, #chartdiv9
  {
    width: 100%;
    height:150px;
    font-size: 0.6rem;
    font-family: Fira Sans, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.334;

  }
  #title
  {
    padding: 15px;
    width: 78%;
    height: 50px;
    font-size: 0.9rem;
    font-family: Fira Sans, Arial, sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 1.334;

  }

  #titles
  {
    padding: 15px;
    width: 78%;
    height: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Fira Sans, Arial, sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 1.334;

  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

  #shell
  {
    width: 95%;
    height: 250px;
    background: #f7f7f7;
    position: relative;
    border-radius: 5px;
  }
  #shell_small
  {
    width: 95%;
    height: 50px;
    background: #f7f7f7;
    position: relative;
    border-radius: 5px;
  }
  #blue
  {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 50px solid #3374c7;
    border-left: 50px solid #f7f7f7;
    width: 0;
    border-radius: 5px;
  }
  #blue2
  {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 50px solid #80d2fc;
    border-left: 50px solid #f7f7f7;
    width: 0;
    border-radius: 5px;
  }
  #green
  {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 50px solid #33a7a1;
    border-left: 50px solid #f7f7f7;
    width: 0;
    border-radius: 5px;
  }
  table
  {

  max-height: 100%;

  }
  .noborders > td{
  border-color: transparent;
  border-bottom-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  max-height:100%;
  height: 260px;
  margin-top: 0;
  }
  .noborders_small > td{
  border-color: transparent;
  border-bottom-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  max-height:50px;
  margin-top: 0;
  }
