<div class="filterInputs">
  <label><input type="radio" name="year" value="2018" checked><i></i>2019</label>
  <label><input type="radio" name="year" value="2018"><i></i>2018</label>

</div>

<div class="filterInputs">
  <label><input type="radio" name="type" value="01" checked><i></i>01</label>
  <label><input type="radio" onclick="myFunction(this)" name="type" value="02"><i></i>02</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="03"><i></i>03</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="04"><i></i>04</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="05"><i></i>05</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="06"><i></i>06</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="07"><i></i>07</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="08"><i></i>08</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="09"><i></i>09</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="10"><i></i>10</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="11"><i></i>11</label>
  <label><input type="radio" onclick="myFunction(this)" name="type" value="12"><i></i>12</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="13"><i></i>13</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="14"><i></i>14</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="15"><i></i>15</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="16"><i></i>16</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="17"><i></i>17</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="18"><i></i>18</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="19"><i></i>19</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="20"><i></i>20</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="21"><i></i>21</label>
</div>



<div data-filterable="2019 01"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_02_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_02_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 02"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_02_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_02_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 03"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_03_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_03_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 04"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_04_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_04_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 05"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_05_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_05_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 06"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_06_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_06_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"</div>
<div data-filterable="2019 07"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_07_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_07_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 08"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_08_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_08_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 09"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_09_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_09_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 10"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_10_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_10_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 11"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_11_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_11_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 12"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_12_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_12_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 13"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_13_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_13_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 14"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_14_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_14_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 15"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_15_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_15_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 16"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_16_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_16_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 17"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_17_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_17_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 18"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_18_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_18_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 19"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_19_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_19_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 20"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_20_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_20_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2019 21"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_21_2019_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2019/CN_21_2019_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>

<div data-filterable="2018 01"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_01_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_01_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 02"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_02_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_02_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 03"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_03_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_03_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 04"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_04_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_04_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 05"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_05_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_05_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 06"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_06_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_06_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"</div>
<div data-filterable="2018 07"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_07_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_07_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 08"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_08_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_08_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 09"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_09_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_09_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 10"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_10_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_10_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 11"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_11_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_11_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 12"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_12_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_12_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 13"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_13_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_13_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 14"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_14_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_14_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 15"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_15_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_15_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 16"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_16_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_16_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 17"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_17_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_17_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 18"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_18_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_18_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 19"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_19_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_19_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 20"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_20_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_20_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
<div data-filterable="2018 21"><img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_21_2018_export_v2_part_1.png" style="width: 50%;cursor: pointer;">
<img src="{{site.baseurl}}/assets/img/mp/analysis_network/2018/CN_21_2018_export_v2_part_2.png" style="width: 50%;cursor: pointer;"></div>
