<div class="filterInputs">
  <label><input type="radio" name="year" value="2021" checked><i></i>2021</label>
  <label><input type="radio" name="year" value="2020"><i></i>2020</label>

</div>

<div class="filterInputs">
  <label><input type="radio" name="type" value="01" checked><i></i>01</label>
  <label><input type="radio" onclick="myFunction(this)" name="type" value="02"><i></i>02</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="03"><i></i>03</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="04"><i></i>04</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="05"><i></i>05</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="06"><i></i>06</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="07"><i></i>07</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="08"><i></i>08</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="09"><i></i>09</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="10"><i></i>10</label>
  <label> <input type="radio" onclick="myFunction(this)"name="type" value="11"><i></i>11</label>
  <label><input type="radio" onclick="myFunction(this)" name="type" value="12"><i></i>12</label>

</div>



<div data-filterable="2021 01"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2021_01_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2021 02"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2021_02_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2021 03"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2021_03_01.png" style="width: 100%;cursor: pointer;"></div>

<div data-filterable="2020 01"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_01_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 02"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_02_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 03"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_03_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 04"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_04_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 05"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_05_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 06"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_06_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 07"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_07_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 08"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_08_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 09"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_09_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 10"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_10_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 11"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_11_01.png" style="width: 100%;cursor: pointer;"></div>
<div data-filterable="2020 12"><img src="{{site.baseurl}}/assets/img/mp/traffic/AIS_2020_12_01.png" style="width: 100%;cursor: pointer;"></div>
