---
layout: frontpage
---

{% assign id = page.indicator | slugify %}
{% assign ktore = site.data.globalne %}
{% assign sdg_goals = ktore.sdg_goals %}

{% assign slug = page.indicator | replace: '.', '-' %}
{% assign dataset_name = 'indicator_' | append: slug %}

{% assign array = "" | split: ""  %}
{% assign precyzja = array %}
{% assign header_csv = array %}
{% assign filtry = array %}
{% assign wszystkie = array %}
{% assign jednostka = array %}
{% assign tytul = array %}
{% assign metadane = array %}

{% assign precyzja = page.pre %}
{% assign metadane =page %}
{% assign tytul = page.graph_title %}
{% assign jednostka = page.jednostka %}
{% assign wszystkie = page.zmienne | split: ";" %}
{% assign filtry = page.kategorie | split: "," %}
{% assign header_csv = page.indicator_variable_1 | split: "," %}
{% assign sdg_indicator = ktore[dataset_name] %}
{% assign sdg_indicators = ktore.sdg_indicator_metadata %}

{% assign foo = array %}
{% for wszy in wszystkie %}
{% assign ha = wszy | split: "," | jsonify | append:','%}
{% assign foo = foo | push: ha %}
{% endfor %}

{% for indicators in sdg_indicators %}
{% if indicators.indicator_id == page.indicator %}
  {% assign this_sdg_indicator_metadata = indicators %}
{% endif %}
{% endfor %}

{% assign indicator_title = this_sdg_indicator_metadata.indicator %}
{% assign licznik = header_csv | size %}
{% assign row = array %}
{% assign labels = array %}

{% assign row1 = array %}
{%for i in (0..licznik) %}
  {% for indicator in sdg_indicator %}
    {% assign a = header_csv[i] %}
    {% assign row1 = row1 | push: indicator[a] %}
  {%endfor%}
{%endfor%}

{% for indicator in sdg_indicator %}
  {% assign labels = labels | push: indicator.year %}
{% endfor %}

<h3 style="margin: 2em 0;">{{ page.indicator}} - {{ indicator_title }} </h3>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="#data" aria-controls="data" role="tab" data-toggle="tab">Data</a></li>
  <li class="nav-item"><a class="nav-link" href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
  <li class="nav-item"><a class="nav-link" href="#abbrev" aria-controls="abbrev" role="tab" data-toggle="tab">Abbreviations</a></li>
</ul>

<div style="float: left;width: 100%;">
  {% assign table_template = 'components/table.html' %}

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="data">

          <div style="display: flow-root;margin-top: 15px;">
                <div id="title" style="text-align: center"></div>
                <div id="chartdiv"></div>
                <div id="chartdiv2">
                  <div class="filterInputs">
                    <label><input type="radio" onclick="myFunction(this)" name="type" value="01" checked><i></i>01</label>
                    <label><input type="radio" onclick="myFunction(this)" name="type" value="02"><i></i>02</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="03"><i></i>03</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="04"><i></i>04</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="05"><i></i>05</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="06"><i></i>06</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="07"><i></i>07</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="08"><i></i>08</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="09"><i></i>09</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="10"><i></i>10</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="11"><i></i>11</label>
                    <label><input type="radio" onclick="myFunction(this)" name="type" value="12"><i></i>12</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="13"><i></i>13</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="14"><i></i>14</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="15"><i></i>15</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="16"><i></i>16</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="17"><i></i>17</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="18"><i></i>18</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="19"><i></i>19</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="20"><i></i>20</label>
                    <label> <input type="radio" onclick="myFunction(this)"name="type" value="21"><i></i>21</label>
                  </div>
                </div>
                <table id="dataTable"></table>
          </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="metadata">
      <div class="metadata-table">
          <h2>Information about indicator</h2>
          <table>
            {% for indicator_metadata in site.prose.metadata._indicators %}
              {% if indicator_metadata.field.scope == "global" %}
                <tr>
                  <th style="padding: 5px; height: 45px;">  {{ indicator_metadata.field.label2 }} </th>
                  <td style="padding: 10px; text-align: justify; height: 45px;">  {{ metadane[indicator_metadata.name] }} </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="abbrev">
      <div class="metadata-table">
          <table>
                <tr>
                  <th style="padding: 5px; height: 45px;">Sections by CN</th>
                  <td style="padding: 10px; text-align: justify; height: 45px;">
                    01 - Live animals, animal products</br>
                    02 - Vegetable products</br>
                    03 - Fats and oils</br>
                    04 - Prepared foodstuffs</br>
                    05 - Mineral products</br>
                    06 - Products of the chemical industry</br>
                    07 - Plastics and rubber and articles thereof</br>
                    08 - Raw hides and skins, articles thereof</br>
                    09 - Wood and articles of wood</br>
                    10 - Pulp of wood, paper, paperboard and articles thereof</br>
                    11 - Textiles and textile articles</br>
                    12 - Footwear, headgear, etc.</br>
                    13 - Articles of stone, ceramic products, glass</br>
                    14 - Pearls, precious stones and metals, articles thereof</br>
                    15 - Base metals and articles thereof</br>
                    16 - Machinery and mechanical appliances, electrical and electrotechnical equipment</br>
                    17 - Transport equipment</br>
                    18 - Optical, photographic, measuring, checking instruments, etc.</br>
                    19 - Arms and ammunition</br>
                    20 - Miscellaneous manufactured articles</br>
                    21 - Works of art, collectors pieces and antiques</br>
                  </td>
                </tr>
          </table>
      </div>
    </div>
  </div>
</div>


<script>

function chord(section) {
  var stateData =(function() {
        var json = null;
        $.ajax({
            'async': false,
            'url': "{{site.baseurl}}/json/{{page.indicator}}.json",
            'dataType': "json",
            'success': function (data) {
                json = data;
            }
        });
        return json;
  })();

  am4core.useTheme(am4themes_animated);

  var mainContainer = am4core.create("chartdiv", am4core.Container);
  mainContainer.width = am4core.percent(100);
  mainContainer.height = am4core.percent(100);


  var chart = mainContainer.createChild(am4charts.ChordDiagram);

  chart.data = stateData[section];


  chart.dataFields.fromName = "from";
  chart.dataFields.toName = "to";
  chart.dataFields.value = "value";

  // make nodes draggable
  var nodeTemplate = chart.nodes.template;
  nodeTemplate.readerTitle = "Click to show/hide or drag to rearrange";
  nodeTemplate.showSystemTooltip = true;

  var nodeLink = chart.links.template;
  var bullet = nodeLink.bullets.push(new am4charts.CircleBullet());
  bullet.fillOpacity = 1;
  bullet.circle.radius = 5;
  bullet.locationX = 0.5;

  // create animations
  chart.events.on("ready", function() {
      for (var i = 0; i < chart.links.length; i++) {
          var link = chart.links.getIndex(i);
          var bullet = link.bullets.getIndex(0);

          animateBullet(bullet);
      }
  })

  function animateBullet(bullet) {
      var duration = 3000 * Math.random() + 2000;
      var animation = bullet.animate([{ property: "locationX", from: 0, to: 1 }], duration)
      animation.events.on("animationended", function(event) {
          animateBullet(event.target.object);
      })
  }
}

chord('01');

  function myFunction(obj) {
    var t = $(obj).val();
    chord(t.toString())
 }


</script>
